html, body, .expandV {
    height: 100%;
}

#controlsContainer {
    height: 6em;
}

#textareaContainer {
    height: calc(100% - 12em);
}

#iMainTextarea {
    margin-top: 2em;
}

/**
 * We'll want the main textarea to be monospace with no wrapping. Of
 * course, this only works properly by setting the wrap="off" attribute
 * in the actual HTML, go figure.
 **/
#iMainTextarea {
    font-family: monospace;
    overflow: scroll;
    white-space: nowrap;

    width: 100%;
    height: 100%;
}

