html, body, .expandV {
    height: 100%;
}

/**
 * We'll want the main textarea to be monospace with no wrapping. Of
 * course, this only works properly by setting the wrap="off" attribute
 * in the actual HTML, go figure.
 **/
#iMainTextarea {
    font-family: monospace;
    overflow: scroll;
    white-space: nowrap;

    width: 100%;
    margin-top: 2em;
    height: calc(100% - 4em);
}
